h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family:'Poppins', sans-serif;
}

.search {
  position: absolute;
  top: 175px;
  right: 815px;
  width: 300px;
}

html {
  font-size: 60%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.list {
  position: absolute;
  top: 290px;
  right: 450px;
  width: 500px;
  font-size: 25px;
}

.symptoms {
  position: absolute;
  top: 290px;
  right: 800px;
  width: 500px;
  font-size: 25px;
}

#box {
  background-color: rgb(215, 239, 239);
  position: absolute;
  top: 150px;
  left: 60px;
  width: 800px;
  height: 600px;
  border-radius: 10px;
  z-index: -1;
}

.patient {
  width: 400px;
  height: auto;
  position: absolute;
  top: 160px;
  right: 100px;
}

/* button */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  text-align: center;
  margin: 0 10px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  font-size: 30px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #C1BDDB;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #C1BDDB;
  cursor: pointer;
  box-sizing: border-box;
}

.button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
  cursor: default;
  opacity: .5;
}

.button:focus, .button:hover, button:focus, button:hover, input[type="submit"]:focus, input[type="submit"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="button"]:focus, input[type="button"]:hover {
  background-color: #a9a1dc;
  border-color: #a9a1dc;
  color: #f9f9f9;

  transition: all 0.5s ease 0s;
}

/* pop-up */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2E294E;
  padding: 20px;
  z-index: 2;
  border-radius: 10px;
  color:rgb(253, 255, 255);
  text-align: center;
  font-size: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 13, 13, 0.5);
  z-index: 1;
  border-radius: 10px;
}